#{extends 'main.html' /}
#{set title:'Cadastro de Pacientes' /}
<div id="content">
<h1>Cadastro de Pacientes</h1>

<div id="createItemForm">
<form action="@{Application.doCreatePaciente()}" method="POST">
<p class="field">

<p class="field">
<label>ID: </label>
<input type="text" name="paciente.ID"/>
</p>

<p class="field">
<label>Nome: </label>
<input type="text" name="paciente.nome"/>
</p>

<p class="field">
<label>Endereço: </label>
<input type="text" name="paciente.endereco"/>
</p>

<p class="field">
<label>E-mail: </label>
<input type="text" name="paciente.email"/>
</p>

<p class="field">
<label>Telefone: </label>
<input type="text" name="paciente.telefone"/>
</p>

<p class="field">
<label>Data de nascimento: </label>
<input type="text" name="paciente.datanasc"/>
</p>

<p class="field">
<label>Estado Civil: </label>
<input type="text" name="paciente.estadocivil"/>
</p>

<p class="field">
<label>Sexo: </label>
<input type="text" name="paciente.sexo"/>
</p>

<p class="field">
<label>CPF: </label>
<input type="text" name="paciente.cpf"/>
</p>

<p class="field">
<label>RG: </label>
<input type="text" name="paciente.rg"/>
</p>

<p class="field">
<label>Observações: </label>
<input type="text" name="paciente.observacoes"/>
</p>

</p>
<input type="submit" name="create" value="Salvar dados"/> 
<input type="button" value="Voltar" onClick="location. href='http://localhost:9000'"> <p>
</form>
</div>
</div>
