<!--#{extends 'main.html' /}
#{set title:'Cadastro de Pacientes' /}
-->
<head>
<meta HTTP-EQUIV="Content-Type"
CONTENT="text/html; charset=UTF-8">
</head>

<div id="header">
<h1 id="m1">MedLab</h1>
</div>

<div id="menu">
		<ul>
			<li id="med">Medicos</li>
			<li id="paciente">Pacientes</li>
			<li id="exame">Exames</li>
			<li id="sobre">Sobre</li>
			<li id="contato">Contato</li>
			<li id="contato">Ajuda</li>
		</ul>
</div>


<div id="content">
	<div id="principal">
		<p>Até a próxima</p>
		
</div>
</div>

<div id="menu2">
<ul id="interno"><li><a href="http://localhost:9000/ControllerMedico/showCriarMedicoLab"> Cadastrar Médico de Laboratório </a></li></br>
<li><a like href="http://localhost:9000/ControllerMedico/showCriarMedicoReq"> Cadastrar Médico Requisitante </a></li></br>
<li><a href="http://localhost:9000/ControllerMedico/showEditarMedicoLab"> Editar Médico de Laboratório </a></li></br>
<li><a like href="http://localhost:9000/ControllerMedico/showEditarMedicoReq"> Editar Médico Requisitante </a></li></br>
<li><a href="http://localhost:9000/ControllerMedico/showApagarMedicoLab"> Apagar Médico de Laboratório </a></li></br>
<li><a like href="http://localhost:9000/ControllerMedico/showApagarMedicoReq"> Apagar Médico Requisitante </a></li></br>
<li><a like href="http://localhost:9000/ControllerMedico/showBuscarMedicoReq"> Buscar Médico Requisitante </a></li></br>
<li><a like href="http://localhost:9000/ControllerMedico/showBuscarMedicoLab"> Buscar Médico do Laboratório </a></li></br>
<li><a like href="http://localhost:9000/ControllerMedico/listarMedicosLab"> Listar Médicos do Laboratório </a></li></br>
<li><a like href="http://localhost:9000/ControllerMedico/listarMedicosReq"> Listar Médicos Requisitantes </a></li></br>
</ul>
<ul id="interno2"><li><a like href="http://localhost:9000/ControllerPaciente/showCriarPaciente"> Cadastrar paciente </a></li></br>
<li><a like href="http://localhost:9000/ControllerPaciente/showEditarPaciente"> Editar paciente </a></li></br>
<li><a like href="http://localhost:9000/ControllerPaciente/showApagarPaciente"> Apagar paciente </a></li></br>
<li><a like href="http://localhost:9000/ControllerPaciente/showBuscarPacienteRG"> Buscar paciente por RG </a></li></br>
<li><a like href="http://localhost:9000/ControllerPaciente/showBuscarPacienteCPF"> Buscar paciente por CPF </a></li></br>
<li><a like href="http://localhost:9000/ControllerPaciente/showBuscarPaciente"> Buscar paciente por ID </a></li></br>
</ul>

<ul id="interno3"><li id="link4"><a like href="http://localhost:9000/ControllerExame/showCriarExame"> Cadastrar exame </a></li></br>
<li><a like href="http://localhost:9000/ControllerExame/showEditarExame"> Editar exame </a></li></br>
<li><a like href="http://localhost:9000/ControllerExame/showApagarExame"> Apagar exame </a></li></br>
<li><a like href="http://localhost:9000/ControllerExame/showBuscarExame_ID"> Buscar exame por ID </a></li></br>
<li><a like href="http://localhost:9000/ControllerExame/showBuscarExame_DataPrometida"> Buscar exame por data </a></li></br>
<li><a like href="http://localhost:9000/ControllerExame/showBuscarExame_Situacao"> Buscar exame por situação </a></li></br>
<li><a like href="http://localhost:9000/ControllerExame/buscarUltimosExames"> Visualizar os ultimos exames cadastrados </a></li></br>
</ul>
<ul id="interno5"><li><a href="#">Quem somos nós</a></li></br>
<li><a href="#">Localização</a></li>
</ul>
</div>


</div>

<div id="footer">
 © Copyright AndFeLa 2012
</div>
