<!--#{extends 'main.html' /}
#{set title:'Cadastro de Pacientes' /}
-->
<head>
<link rel="stylesheet"media="screen" href="style.css">
<script type="text/javascript" src="jquery.js"></script> 

<script type="text/javascript" src="style.js"></script>
<meta HTTP-EQUIV="Content-Type"
CONTENT="text/html; charset=UTF-8">
</head>

<div id="header">
<h1 id="m1">MedLab</h1>
</div>

<div id="menu">
		<ul>
			<li id="med">Medicos
			<ul id="interno"><li><a href="http://localhost:9000/Application/createMedlab"> Cadastrar Médico de Laboratório </a></li>
<li id="link2"><a like href="http://localhost:9000/Application/createMedreq"> Cadastrar Médico Requisitante </a></li>
			</ul></li>
			<li id="paciente">Pacientes
			<ul id="interno2"><li><a like href="http://localhost:9000/Application/createPaciente"> Cadastrar paciente </a></li>
			</ul></li>
			<li id="exame">Exames
			<ul id="interno3">
<li id="link4"><a like href="http://localhost:9000/Application/createExame"> Cadastrar exame </a></li>
			</ul></li>
			<li id="laudo">Laudos
			<ul id="interno4">
<li id="link5"><a like href="http://localhost:9000/Application/createLaudo"> Cadastrar laudo </a></li>
			</ul></li>
			<li id="sobre">Sobre
			<ul id="interno5"><li><a href="#">Quem somos nós</a></li>
			<li><a href="#">Localização</a></li>
			</ul></li>
			<li id="contato">Contato</li>
			<li id="contato">Ajuda</li>
		</ul>
</div>


<div id="content">
	<div id="principal">
</br> </br> 
		<h1>Editar paciente</h1>
	<form action="@{Application.doEditPaciente()}" method="POST">
		<table>
		<tr>
			<td><label>Informe o ID do paciente a ser modificado:</label></td>
			<td><p class="field">
				<input type="text" name="paciente.ID"/>
				</p><br><br></td>
		</tr>
		<tr>
			<td><label>Nome: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.nome"/>
				</p></td>
		</tr>
		<tr>
			<td><label>Endereço: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.endereco"/>
				</p></td>
		</tr><tr>
			<td><label>Email: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.email"/>
				</p></td>
		</tr><tr>
			<td><label>Telefone: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.telefone"/>
				</p></td>
		</tr><tr>
			<td><label>Data de nascimento: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.datanasc"/>
				</p></td>
		</tr><tr>
			<td><label>Estado civil: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.estadocivil"/>
				</p></td>
		</tr><tr>
			<td><label>Sexo: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.sexo"/>
				</p></td>
		</tr><tr>
			<td><label>CPF: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.cpf"/>
				</p></td>
		</tr><tr>
			<td><label>RG: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.rg"/>
				</p></td>
		</tr><tr>
			<td><label>Observações: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.observacoes"/>
				</p></td>
		</tr>
		<tr><td></td><td></td></td></tr>
		<tr><td></td><td></td></td></tr>
		<tr><td></td><td></td></td></tr>
		<tr>
			<td></td><td><input type="submit" name="create" value="Editar paciente"/>
			<input type="button" value="Voltar" onClick="location. href='http://localhost:9000'"></td>
		</tr>
		</table>
 <p>
</form>
</div>
<div id="menu2">
	
</div>


</div>

<div id="footer">
 © Copyright AndFeLa 2012
</div>
