<!--#{extends 'main.html' /}
#{set title:'Cadastro de Pacientes' /}
-->
<head>
<link rel="stylesheet"media="screen" href="style.css">
<script type="text/javascript" src="jquery.js"></script> 

<script type="text/javascript" src="style.js"></script>
<meta HTTP-EQUIV="Content-Type"
CONTENT="text/html; charset=UTF-8">
</head>

<div id="header">
<h1 id="m1">MedLab</h1>
</div>

<div id="menu">
		<ul>
			<li id="med">Medicos</li>
			<li id="paciente">Pacientes</li>
			<li id="exame">Exames</li>
			<li id="sobre">Sobre</li>
			<li id="contato">Contato</li>
			<li id="contato">Ajuda</li>
		</ul>
</div>


<div id="content">
	<div id="principal">
</br> </br> 
		<h1>Cadastrar paciente</h1>
	<form action="@{DaoPaciente.doCreatePaciente()}" method="POST">
		<table>
		<tr>
			<td><label>ID: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.ID"/>
				</p></td>
		</tr>
		<tr>
			<td><label>Nome: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.nome"/>
				</p></td>
		</tr>
		<tr>
			<td><label>Endereço: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.endereco"/>
				</p></td>
		</tr><tr>
			<td><label>Email: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.email"/>
				</p></td>
		</tr><tr>
			<td><label>Telefone: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.telefone"/>
				</p></td>
		</tr><tr>
			<td><label>Data de nascimento: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.datanasc"/>
				</p></td>
		</tr><tr>
			<td><label>Estado civil: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.estadocivil"/>
				</p></td>
		</tr><tr>
			<td><label>Sexo: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.sexo"/>
				</p></td>
		</tr><tr>
			<td><label>CPF: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.cpf"/>
				</p></td>
		</tr><tr>
			<td><label>RG: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.rg"/>
				</p></td>
		</tr><tr>
			<td><label>Observações: </label></td>
			<td><p class="field">
				<input type="text" name="paciente.observacoes"/>
				</p></td>
		</tr>
		<tr><td></td><td></td></td></tr>
		<tr><td></td><td></td></td></tr>
		<tr><td></td><td></td></td></tr>
		<tr>
			<td></td><td><input type="submit" name="create" value="Salvar dados"/>
			<input type="button" value="Voltar" onClick="location. href='http://localhost:9000'"></td>
		</tr>
		</table>
 <p>
</form>
</div>


<div id="menu2">
<ul id="interno"><li><a href="http://localhost:9000/DaoMedicoLaboratorio/createMedlab"> Cadastrar Médico de Laboratório </a></li></br>
<li id="link2"><a like href="http://localhost:9000/DaoMedicoRequisitante/createMedreq"> Cadastrar Médico Requisitante </a></li></br>
<li><a like href="http://localhost:9000/DaoMedicoRequisitante/buscarMedicoReqExameId"> Buscar Médico Requisitante a partir do exame </a></li></br>
<li><a like href="http://localhost:9000/DaoMedicoRequisitante/buscarMedPacienteID"> Buscar Médico Requisitante a partir do paciente </a></li></br>
</ul>
<ul id="interno2"><li><a like href="http://localhost:9000/DaoPaciente/createPaciente"> Cadastrar paciente </a></li></br>
<li><a like href="http://localhost:9000/DaoPaciente/buscarPacienteRG"> Buscar paciente por RG </a></li></br>
<li><a like href="http://localhost:9000/DaoPaciente/buscarPacienteCPF"> Buscar paciente por CPF </a></li></br>
<li><a like href="http://localhost:9000/DaoPaciente/buscarEmailPaciente"> Buscar email do paciente </a></li></br>
</ul>
<ul id="interno3"><li id="link4"><a like href="http://localhost:9000/DaoExame/createExame"> Cadastrar exame </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/buscarExameID"> Buscar exame por ID </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/buscarexameDataEntrega"> Buscar exame por data </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/buscarExameSituacao"> Buscar exame por situação </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/showExamesEntregues"> Visualizar exames entregues </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/showExamesNaoEntregues"> Visualizar exames não entregues </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/showUltimosExames"> Visualizar os ultimos 3 exames cadastrados </a></li></br>
</ul>
<ul id="interno5"><li><a href="#">Quem somos nós</a></li></br>
			<li><a href="#">Localização</a></li>
			</ul>
</div>



</div>

<div id="footer">
 © Copyright AndFeLa 2012
</div>
