#{extends 'main.html' /}
#{set title:'Cadastro de exame' /}
<div id="content">
<h1>Cadastro de exame</h1>

<div id="createItemForm">
<form action="@{Application.doCreateExame()}" method="POST">

<p class="field">
<label>ID Exame: </label>
<input type="text" name="exame.ID"/>
</p>

<p class="field">
<label>Observações: </label>
<input type="text" name="exame.observacoes"/>
</p>

<p class="field">
<label>Situação: </label>
<input type="text" name="exame.situacao"/>
</p>


<p class="field">
<label>Data de requisição: </label>
<input type="text" name="exame.datarec"/>
</p>

<p class="field">
<label>Data de entrega: </label>
<input type="text" name="exame.dataentrega"/>
</p>

<p class="field">
<label>ID Material: </label>
<input type="text" name="exame.ID_material"/>
</p>

<p class="field">
<label>ID Paciente: </label>
<input type="text" name="exame.ID_paciente"/>
</p>

<p class="field">
<label>ID Laudo: </label>
<input type="text" name="exame.ID_laudo"/>
</p>

<p class="field">
<label>CRM Requisitante: </label>
<input type="text" name="exame.CRMR"/>
</p>

<input type="submit" name="create" value="Salvar dados"/>
<input type="button" value="Voltar" onClick="location. href='http://localhost:9000'"> <p>
</form>
</div>
</div>
