<!--#{extends 'main.html' /}
#{set title:'Cadastro de Pacientes' /}
-->
<head>
<link rel="stylesheet" type="text/css" href="cadastrop.css">
<script type="text/javascript" src="jquery.js"></script> 
<script type="text/javascript" src="slider.js"></script> 
<script type="text/javascript" src="cadastro.js"></script>
<meta HTTP-EQUIV="Content-Type"
CONTENT="text/html; charset=UTF-8">
</head>

<div id="header">
<h1 id="m1">MedLab</h1>
</div>

<div id="menu">
		<ul>
			<li id="med">Medicos
			<ul id="interno"><li><a href="http://localhost:9000/Application/createMedlab"> Cadastrar Médico de Laboratório </a></li>
<li id="link2"><a like href="http://localhost:9000/Application/createMedreq"> Cadastrar Médico Requisitante </a></li>
			</ul></li>
			<li id="paciente">Pacientes
			<ul id="interno2"><li><a like href="http://localhost:9000/Application/createPaciente"> Cadastrar paciente </a></li>
			</ul></li>
			<li id="exame">Exames
			<ul id="interno3">
<li id="link4"><a like href="http://localhost:9000/Application/createExame"> Cadastrar exame </a></li>
			</ul></li>
			<li id="laudo">Laudos
			<ul id="interno4">
<li id="link5"><a like href="http://localhost:9000/Application/createLaudo"> Cadastrar laudo </a></li>
			</ul></li>
			<li id="sobre">Sobre
			<ul id="interno5"><li><a href="#">Quem somos nós</a></li>
			<li><a href="#">Localização</a></li>
			</ul></li>
			<li id="contato">Contato</li>
			<li id="contato">Ajuda</li>
		</ul>
</div>


<div id="content">
	<div id="principal">
		<h1>Cadastrar Médico do Laboratório</h1>
	<form action="@{Application.doCreateMedlab()}" method="POST">
		<table>
		<tr>
			<td><label>CRM: </label></td>
			<td><p class="field">
				<input type="text" name="medicolab.CRML"/>
				</p></td>
		</tr>
		<tr>
			<td><label>Nome: </label></td>
			<td><p class="field">
				<input type="text" name="medicolab.nome"/>
				</p></td>
		</tr>
		<tr>
			<td><label>Telefone: </label></td>
			<td><p class="field">
				<input type="text" name="medicolab.telefone"/>
				</p></td>
		</tr><tr>
			<td><label>Email: </label></td>
			<td><p class="field">
				<input type="text" name="medicolab.email"/>
				</p></td>
		</tr>

		<tr><td></td><td></td></td></tr>
		<tr><td></td><td></td></td></tr>
		<tr><td></td><td></td></td></tr>
		<tr>
			<td></td><td><input type="submit" name="create" value="Salvar dados"/>
			<input type="button" value="Voltar" onClick="location. href='http://localhost:9000'"></td>
		</tr>
		</table>
 <p><a href="http://localhost:9000/Application/createMedlab"> Cadastrar Médico de Laboratório </a>
</form>
</div>
<div id="menu2">
	
</div>


</div>

<div id="footer">
 © Copyright AndFeLa 2012
</div>
