#{extends 'main.html' /}
#{set title:'Cadastro de Pacientes' /}
<div id="content">
<h1>Laboratório Médico</h1>

<A like href="http://localhost:9000/Application/createMedlab"> Cadastrar Médico de Laboratório </A><p>
<A like href="http://localhost:9000/Application/createMedreq"> Cadastrar Médico Requisitante </A><p>
<A like href="http://localhost:9000/Application/createPaciente"> Cadastrar paciente </A><p>
<A like href="http://localhost:9000/Application/createExame"> Cadastrar exame </A><p>
<A like href="http://localhost:9000/Application/createLaudo"> Cadastrar laudo </A><p>
