<!--#{extends 'main.html' /}
#{set title:'Cadastro de Pacientes' /}
-->
<head>
<meta HTTP-EQUIV="Content-Type"
CONTENT="text/html; charset=UTF-8">
</head>

<div id="header">
<h1 id="m1">MedLab</h1>
</div>

<div id="menu">
		<ul>
			<li id="med">Medicos</li>
			<li id="paciente">Pacientes</li>
			<li id="exame">Exames</li>
			<li id="sobre">Sobre</li>
			<li id="contato">Contato</li>
			<li id="contato">Ajuda</li>
		</ul>
</div>


<div id="content">
	<div id="principal">
		
		
</div>
</div>

<div id="menu2">
<ul id="interno"><li><a href="http://localhost:9000/Application/createMedlab"> Cadastrar Médico de Laboratório </a></li></br>
<li id="link2"><a like href="http://localhost:9000/Application/createMedreq"> Cadastrar Médico Requisitante </a></li></br>
<li><a like href="http://localhost:9000/Application/buscarMedicoReqExameId"> Buscar Médico Requisitante a partir do exame </a></li></br>
</ul>
<ul id="interno2"><li><a like href="http://localhost:9000/ControllerPaciente/criarPaciente"> Cadastrar paciente </a></li></br>
<li><a like href="http://localhost:9000/Application/buscarPacienteRG"> Buscar paciente por RG </a></li></br>
<li><a like href="http://localhost:9000/Application/buscarPacienteCPF"> Buscar paciente por CPF </a></li></br>
<li><a like href="http://localhost:9000/Application/buscarEmailPaciente"> Buscar email do paciente </a></li></br>
</ul>
<ul id="interno3"><li id="link4"><a like href="http://localhost:9000/Application/createExame"> Cadastrar exame </a></li></br>
<li><a like href="http://localhost:9000/Application/buscarExameID"> Buscar exame por ID </a></li></br>
<li><a like href="http://localhost:9000/Application/buscarexameDataEntrega"> Buscar exame por data </a></li></br>
<li><a like href="http://localhost:9000/Application/buscarExameSituacao"> Buscar exame por situação </a></li></br>
<li><a like href="http://localhost:9000/Application/showExamesEntregues"> Visualizar exames entregues </a></li></br>
<li><a like href="http://localhost:9000/Application/showExamesNaoEntregues"> Visualizar exames não entregues </a></li></br>
<li><a like href="http://localhost:9000/Application/showUltimosExames"> Visualizar os ultimos 3 exames cadastrados </a></li></br>
</ul>
<ul id="interno5"><li><a href="#">Quem somos nós</a></li></br>
			<li><a href="#">Localização</a></li>
			</ul>
</div>


</div>

<div id="footer">
 © Copyright AndFeLa 2012
</div>
