<!--#{extends 'main.html' /}
#{set title:'Remover Paciente' /}
-->
<head>
<link rel="stylesheet"media="screen" href="style.css">
<script type="text/javascript" src="jquery.js"></script> 

<script type="text/javascript" src="style.js"></script>
<meta HTTP-EQUIV="Content-Type"
CONTENT="text/html; charset=UTF-8">
</head>

<h1>Busca de pacientes por CPF:</h1>

<p>| ID | Nome | Endereco | E-mail | Telefone | Sexo | Data Nascimento | Estado Civil | CPF | RG | Observações |
 </p>

#{list items: list_paciente, as : 'p'}

<p> | ${p.ID} | | ${p.nome} | ${p.endereco} | ${p.email} | ${p.telefone} | ${p.sexo} | ${p.datanasc} | ${p.estadocivil} | ${p.cpf} | ${p.rg} | ${p.observacoes} | </br> </p>

#{/list}

<p>
