#{extends 'main.html' /}
#{set title:'ePlay Auctions - Create a new Item Listing' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/style.css'}">
#{/set}

<div id="header">
<h1 id="m1">MedLab</h1>
</div>

<div id="menu">
		<ul>
			<li id="med">Medicos</li>
			<li id="paciente">Pacientes</li>
			<li id="exame">Exames</li>
			<li id="sobre">Sobre</li>
			<li id="contato">Contato</li>
			<li id="contato">Ajuda</li>
		</ul>
</div>

<div id="content">

<h1>Medico cadastrado com sucesso!</h1>


<input type="button" value="Voltar" onClick="location. href='http://localhost:9000'"> <p>
</p>

<div id="menu2">
<ul id="interno"><li><a href="http://localhost:9000/DaoMedicoLaboratorio/createMedlab"> Cadastrar Médico de Laboratório </a></li></br>
<li id="link2"><a like href="http://localhost:9000/DaoMedicoRequisitante/createMedreq"> Cadastrar Médico Requisitante </a></li></br>
<li><a like href="http://localhost:9000/DaoMedicoRequisitante/buscarMedicoReqExameId"> Buscar Médico Requisitante a partir do exame </a></li></br>
<li><a like href="http://localhost:9000/DaoMedicoRequisitante/buscarMedPacienteID"> Buscar Médico Requisitante a partir do paciente </a></li></br>
</ul>
<ul id="interno2"><li><a like href="http://localhost:9000/DaoPaciente/createPaciente"> Cadastrar paciente </a></li></br>
<li><a like href="http://localhost:9000/DaoPaciente/buscarPacienteRG"> Buscar paciente por RG </a></li></br>
<li><a like href="http://localhost:9000/DaoPaciente/buscarPacienteCPF"> Buscar paciente por CPF </a></li></br>
<li><a like href="http://localhost:9000/DaoPaciente/buscarEmailPaciente"> Buscar email do paciente </a></li></br>
</ul>
<ul id="interno3"><li id="link4"><a like href="http://localhost:9000/DaoExame/createExame"> Cadastrar exame </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/buscarExameID"> Buscar exame por ID </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/buscarexameDataEntrega"> Buscar exame por data </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/buscarExameSituacao"> Buscar exame por situação </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/showExamesEntregues"> Visualizar exames entregues </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/showExamesNaoEntregues"> Visualizar exames não entregues </a></li></br>
<li><a like href="http://localhost:9000/DaoExame/showUltimosExames"> Visualizar os ultimos 3 exames cadastrados </a></li></br>
</ul>
<ul id="interno5"><li><a href="#">Quem somos nós</a></li></br>
			<li><a href="#">Localização</a></li>
			</ul>
</div>
</div>
