<!--#{extends 'main.html' /}
#{set title:'Cadastro de Pacientes' /}
-->
<head>
<link rel="stylesheet"media="screen" href="style.css">
<script type="text/javascript" src="jquery.js"></script> 

<script type="text/javascript" src="style.js"></script>
<meta HTTP-EQUIV="Content-Type"
CONTENT="text/html; charset=UTF-8">
</head>

<div id="header">
<h1 id="m1">MedLab</h1>
</div>

<div id="menu">
		<ul>
			<li id="med">Medicos
			<ul id="interno"><li><a href="http://localhost:9000/ControllerMedico/criarMedicoLab"> Cadastrar Médico de Laboratório </a></li>
<li id="link2"><a like href="http://localhost:9000/ControllerMedico/criarMedicoReq"> Cadastrar Médico Requisitante </a></li>
			</ul></li>
			<li id="paciente">Pacientes
			<ul id="interno2"><li><a like href="http://localhost:9000/ControllerPaciente/criarPaciente"> Cadastrar paciente </a></li>
			</ul></li>
			<li id="exame">Exames
			<ul id="interno3">
<li id="link4"><a like href="http://localhost:9000/ControllerExame/criarExame"> Cadastrar exame </a></li>
			</ul></li>
			<li id="laudo">Laudos
			<ul id="interno4">
			<li id="sobre">Sobre
			<ul id="interno5"><li><a href="#">Quem somos nós</a></li>
			<li><a href="#">Localização</a></li>
			</ul></li>
			<li id="contato">Contato</li>
			<li id="contato">Ajuda</li>
		</ul>
</div>


<div id="content">
	<div id="principal">
</br> </br> 
		<h1>Editar Exame</h1>
	<form action="@{ControllerExame.doEditExame()}" method="POST">
		<table>
		<tr>
			<td><label>Informe o ID do exame</br> a ser modificado:</label></td>
			<td><p class="field">
				<input type="text" name="exame.ID"/>
				</p><br><br></td>
		</tr>
		<tr>
			<td><label>ID do material: </label></td>
			<td><p class="field">
				<input type="text" name="exame.ID_material"/>
				</p></td>
		</tr>
		<tr>
			<td><label>Situação: </label></td>
			<td><p class="field">
				<input type="text" name="exame.situacao"/>
				</p></td>
		</tr><tr>
			<td><label>Data de Recebimento: </label></td>
			<td><p class="field">
				<input type="text" name="exame.datarec"/>
				</p></td>
		</tr><tr>
			<td><label>Data de Entrega: </label></td>
			<td><p class="field">
				<input type="text" name="exame.dataentrega"/>
				</p></td>
		</tr><tr>
			<td><label>ID do Paciente: </label></td>
			<td><p class="field">
				<input type="text" name="exame.ID_paciente"/>
				</p></td>
		</tr><tr>
			<td><label>CRM Médico Requisitante: </label></td>
			<td><p class="field">
				<input type="text" name="exame.CRMR"/>
				</p></td>
		</tr><tr>
			<td><label>CRM Médico Laudista: </label></td>
			<td><p class="field">
				<input type="text" name="exame.CRML"/>
				</p></td>
		</tr><tr>
			<td><label>Resultado: </label></td>
			<td><p class="field">
				<input type="text" name="exame.Resultado"/>
				</p></td>
		</tr><tr>
			<td><label>Análise Macroscópica: </label></td>
			<td><p class="field">
				<input type="text" name="exame.Analise_macro"/>
				</p></td>
		</tr><tr>
			<td><label>Análise Microscópica: </label></td>
			<td><p class="field">
				<input type="text" name="exame.Analise_micro"/>
				</p></td>
		</tr><tr>
			<td><label>Observações: </label></td>
			<td><p class="field">
				<input type="text" name="exame.observacoes"/>
				</p></td>
		</tr>
		<tr><td></td><td></td></td></tr>
		<tr><td></td><td></td></td></tr>
		<tr><td></td><td></td></td></tr>
		<tr>
			<td></td><td><input type="submit" name="create" value="Editar Exame"/>
			<input type="button" value="Voltar" onClick="location. href='http://localhost:9000'"></td>
		</tr>
		</table>
 <p>
</form>
</div>
<div id="menu2">
	
</div>


</div>

<div id="footer">
 © Copyright AndFeLa 2012
</div>
